<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plan</title>
</head>
<body>
    <% if (!plan) { %>
        <h1>Plan not found</h1>
    <% } else { %>
        <div class="row">
            <p><%= "Plan ID: " +  plan.planID %></p>
            <p><%= "Overall Square Feet: " + plan.overallSQF %></p>
            <p><%= "Heated and Cooled Square Feet: " + plan.heatedCooledSQF %></p>
        </div>
        <div class="row">
            <p><%= "Length: " + plan.length / 12 + " ft " + plan.length % 12 + " in" %></p>
            <p><%= "Width: " + plan.width / 12 + " ft " + plan.width % 12 + " in" %></p>
            <p><%= "Sidewall Length: " + plan.sidewallLength / 12 + " ft " + plan.sidewallLength % 12 + " in" %></p>
        </div>
        <div class="row">
            <p> <%= "floors: " + plan.stories %></p>
            <p> <%= "bedrooms: " + plan.bedrooms %></p>
            <p> <%= "bathrooms: " + plan.bathrooms %></p>
            <p> <%= "half baths: " + plan.halfBaths %></p>
        </div>
    <% } %>
</body>
</html>